/*
code {
color: #000;
}

.article pre code {
background: rgba(0, 0, 0, 0);
}
 */

img[alt$=">"] {
    float: right;
    display: inline-block;
    padding-left: 10px;
}

img[alt$="<"] {
    float: left;
    display: inline-block;
    padding-right: 10px;
}

img[alt$="><"] {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    float: none!important;
}

@media only screen and (min-width: 76.25em) {
    .md-main__inner {
        max-width: none;
    }
    .md-sidebar--primary {
        left: 0;
    }
    .md-sidebar--secondary {
        right: 0;
        margin-left: 0;
        -webkit-transform: none;
        transform: none;
    }
    .wy-nav-content {
        max-width: 100%;
    }
}

pre {
    overflow-x: auto;
}

:root > * {
  --md-primary-fg-color:        #d73726;
}

/* Customize Settings Table Width */ 
h3#all-settings + p + div table tbody tr > td:nth-child(2) {
    max-width: 300px;
    overflow: auto;
    word-break: break-word;
    white-space: break-spaces;
}

h3#all-settings + p + div table tbody tr > td:nth-child(3) {
    max-width: 600px;
    overflow: auto;
    word-break: break-word;
    white-space: break-spaces;
}

h3#all-settings + p + div table tbody tr > td:nth-child(5) {
    max-width: 300px;
    overflow: auto;
    word-break: break-word;
    white-space: break-spaces;
}

h3#all-settings + p + div table tbody tr > td:nth-child(6) {
    max-width: 500px;
    overflow: auto;
    word-break: break-word;
    white-space: break-spaces;
}
